<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Birth certificate</title>
</head>

<body>
    <div class="marr_con">
        <div class="centered_marr">

            <h1>Register</h1>
            <form action="http://localhost:3000/bformAdding" method="post">
                <input type="text" name="fCNIC" placeholder="Father CNIC(e.g.1234567890123)">
                <input type="text" name="mCNIC" placeholder="Mother CNIC(e.g.1234567890123)">
                <input type="submit" name="reg_btn" value="Register Child">
            </form>


        </div>
    </div>
</body>

</html>