<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<div class="marr_con">
    <div class="centered_marr">

        <h1>Enter card CNIC</h1>
        <form action="http://localhost:3000/card" method="post">
            <input type="text" name="CNIC" placeholder="CNIC(e.g.1234567890123)">
            <input type="text" name="barcode" placeholder="12-Digit barcode(e.g.1234567890123)">
            <input type="submit" name="reg_btn" value="Apply">
        </form>


    </div>
</div>

<body>

</body>

</html>