<!DOCTYPE HTML>
<html>

<head>
    <title>Welcome to our site</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="main_container">
        <div class="navbar">
            <a href="/regform">Registeration</a>
            <a href="/marriage">Marriage certificate Registeration</a>
            <a href="/bform">Bform Registeration</a>
            <a href="/searchRec">Record View</a>
            <a href="/cardRenewal">Card renewal</a>
        </div>
        <div class="main_body">
            <h1>WELCOME TO NADRA</h1>
        </div>
        <div class="onediv">
            <h2>About</h2>
            <p>National Database and Registration Authority (NADRA) was established as National Database Organization (NDO), an attached department under the Ministry of Interior, Government of Pakistan in 1998</p>
            <p>National Database & Registration Authority (NADRA) has gained international recognition for its success in providing solutions for identification, e-governance and secure documents that deliver multi-pronged goals of mitigating identity theft,
                safe-guarding the interests of our clients and facilitating the public. In-depth Research and Development efforts have enabled NADRA to become the trailblazer in the areas of Software Integration, Data Warehousing and Network Infrastructure.</p>
            <p>National Identity Card (NIC) is issued to the citizens of Pakistan. It is a blend of state-of-the-art technology and well-defined business rules to guarantee its authenticity and validity. The unique 13 digit identification number is recognized
                all over the country. It is the first requirement of individuals as it is mandatory to obtain documents like license, NTN, bank account, passport, cellular connection etc. Every citizen of Pakistan, 18 years and above, is eligible for
                NIC.
            </p>
        </div>
    </div>
</body>

</html>