<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Marriage certificate</title>
</head>

<body>
    <div class="marr_con">
        <div class="centered_marr">

            <h1>Register</h1>
            <form action="http://localhost:3000/marraigeAdding" method="post">
                <input type="text" name="hCNIC" placeholder="Husband CNIC(e.g.1234567890123)">
                <input type="text" name="wCNIC" placeholder="Wife CNIC(e.g.1234567890123)">
                <input type="submit" name="reg_btn" value="Register Marriage">
            </form>


        </div>
    </div>
</body>

</html>