<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Regiteration</title>
</head>

<body>
    <div class="login_container">
        <div class="con-con">

            <h1>Register</h1>
            <form action="http://localhost:3000/adding" method="post">
                <input type="text" name="first_name" placeholder="first name">
                <input type="text" name="last_name" placeholder="Last name">
                <input type="text" name="father_CNIC" placeholder="Father CNIC(e.g.1234567890123)">
                <input type="radio" name="gender" value="Male" id="M" checked="checked">
                <label for="Male">Male</label>
                <input type="radio" name="gender" value="Female" id="F">
                <label for="Female">Female</label>
                <input type="submit" name="next_btn" value="NEXT">

            </form>


        </div>
    </div>

</body>

</html>